* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #2DB087, #FED273);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  /* margin: 0; */
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 30% 45%;
  color:rgb(246, 244, 241);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./images/carteira-digital.jpeg');
  /* width: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container {
  margin-top: 25vh;
  /* margin-right: 7vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 5px black;
  margin-right: 30vh;
  
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 4vh;
}

.login-form input {
  padding: 7px;
  border: none;
}

.form-container input {
  background-color: transparent;
}

.form-container select {
  background-color: transparent;
}

.title-container {
  color: rgb(108, 101, 101);
}
h1 {
  margin: 0;
  padding: 0;
}

.input-login {
  margin: 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.38);
}

.login-btn {
  margin-bottom: 10px;
  background: linear-gradient(-45deg, #0a491f, #d5e33a, #c9e1a7, #08361c);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

.login-btn:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
 }

 .login-btn:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
 }

 .wallet-title {
   text-align: center;
   margin-top: 10vh;
   color: rgb(13, 37, 5);
   text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
 }

 .wallet-email {
  display: flex;
  width: 100%;
  /* text-align:left; */
}

.wallet-spence {
  display: flex;
  margin-bottom: 40px;
  margin-top: 50px;
  color: black;
  width: 100%;
  font-weight: 700;
}

.brl {
  margin: 0;
  margin-left: 2px;
}

h3 {
  text-align:right;
  color: black;
}

.form-container {
  margin-top: 10px;
  display: flex;
  color: black;
}

.wallet-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: 30% 45%;
  /* margin-left: 10vh; */
  color:rgb(246, 244, 241);
  padding-left: 5vh;
  padding-right: 5vh;
  background-image: url('./images/carteira-digital-degrade.png');
  /* opacity: 0.2; */
  width: 100%;
  
}

header {
  width: 100%;
}

.btn-despesa {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
  align-self:stretch;
  margin-left: 0px;
  border-radius: 10px;
  color: whitesmoke;
  background: linear-gradient(-45deg, #62665e, #11461a);
}

table {
  color: black;
  font-size: 2vh;
  background-color: rgba(219, 229, 232, 0.412);
  box-shadow: 5px 5px 5px #747972fc;
  text-align: center;
}

.btn-delete {
  /* background-image: url("https://www.svgrepo.com/show/79440/delete-button.svg"); */
  width: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-delete:hover {
  width: 18px;
  box-shadow:  inset 0 0 18px rgb(26, 91, 33), 0 0 1em rgb(24, 104, 17);
  border-radius: 5px;
}
/* th {
  font-size: 10px;
} */

/* label {
  font-size: 10px;
} */